/*======================================================================
 
------------------------------------------------------------------------
------------------------------------------------------------------------
Layout Width: 100%
Container Width: 1320px
Responsive Layout: Yes
=======================================================================*/
/* Table of Contents:
 * 1- Reset CSS 
 * 2- Login 
   2.1- buttons
 * 3- Dashboard
   * 3.1- Dashboard header
   * 3.2- Header profle dropdown
   * 3.3- Sidemenu Css
     * 3.3.1- Sidemenu  
     * 3.3.2- child menu
   * 3.4- Main section
     * 3.4.1 Card section
     * 3.4.2- table css
 * 4- Footer
 * 5- Responsive
*/
/* 1- Reset CSS */
body {
    font-family: 'Noto Sans';
    background-color: #fff
}

a {
    text-decoration: none
}

h1,h2,h3,h4,h5,h6,p,ul {
    margin: 0;
    padding: 0
}

li {
    list-style: none
}

:root {
    --OneColor: linear-gradient(64.5deg,#001f7d 4.08%,#0e2fc0 53.39%);
    --TwoColor: #6859B0;
    --ThreeColor: #F2B705;
    --FourColor: #1D3EF8;
    --FiveColor: #294493;
    --SixColor: #F3F3F3;
    --SevenColor: #000000;
    --EightColor: #F7F7F7;
    --NineColor: #ffffff;
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 100;
    src: url('../css/fonts/noto-sans-v36-latin-100.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 100;
    src: url('../css/fonts/noto-sans-v36-latin-100italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 200;
    src: url('../css/fonts/noto-sans-v36-latin-200.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 200;
    src: url('../css/fonts/noto-sans-v36-latin-200italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../css/fonts/noto-sans-v36-latin-300.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../css/fonts/noto-sans-v36-latin-300italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../css/fonts/noto-sans-v36-latin-regular.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../css/fonts/noto-sans-v36-latin-italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../css/fonts/noto-sans-v36-latin-500.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 500;
    src: url('../css/fonts/noto-sans-v36-latin-500italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../css/fonts/noto-sans-v36-latin-600.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../css/fonts/noto-sans-v36-latin-600italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../css/fonts/noto-sans-v36-latin-700.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../css/fonts/noto-sans-v36-latin-700italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../css/fonts/noto-sans-v36-latin-800.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../css/fonts/noto-sans-v36-latin-800italic.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 900;
    src: url('../css/fonts/noto-sans-v36-latin-900.woff2') format('woff2')
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: italic;
    font-weight: 900;
    src: url('../css/fonts/noto-sans-v36-latin-900italic.woff2') format('woff2')
}

/* 2- Login  */
.form-group,.icon_with_input {
    position: relative
}

.logo-align {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    color: #000;
    padding: 10px 0 10px 10px;
    width: 250px;
    border-right: 1px solid #ebebeb;
}
.brand-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0;
    padding: 0 20px;
    height: -webkit-fill-available;
}
.quick-btn,.quick-btn:hover {
    color: #fff;
    transition: .2s ease-in-out
}

.brand-img {
    display: flex;
    align-items: center;
    gap: 5px
}

.brand-img .img1 {
    width: 40px!important
}

.keep_me_login a {
    font-size: 12px;
    border-bottom: 1px solid #000;
    color: #000
}

.keep_me_login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 10px 0;
}

.form-group {
    margin-bottom: 10px;
}

.form-check {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0
}

.form-check label {
    margin: 0
}

.form-check .form-check-input {
    margin-bottom: 0
}

.icon_with_input span {
    position: absolute;
    right: 12px;
    bottom: 10px;
    font-size: 18px;
    color: #9a9a9a;
    cursor: pointer
}

label {
    color: #2E2E2E;
    margin-bottom: 2px
}

.logo-align .brand-img img {
    width: 120px
}

.brand-text h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    position: relative;
    color: #111B60;
}

.brand-text h5 {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    color: #50525E;
}
.brand-text h6 {
    font-size: 12px;
    font-weight: 500;
    color: #50525E;
}
.inner-title h4,.logo-title {
    font-size: 20px;
    font-weight: 600
}

.inner-title h4 {
    line-height: normal
}

.inner-title p {
    color: #00000075;
    font-size: 12px
}

.inner-title span {
    font-size: 14px;
    color: #9a9a9a;
    line-height: normal;
    font-weight: 400
}

.logo-title {
    line-height: normal;
    padding: 10px 0 10px 100px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0
}

label {
    font-size: 12px;
    font-weight: 500;
    display: block;
}

input,select,textarea {
    font-size: 12px!important;
    padding: 5px 10px!important;
    color: #5a5a5a !important;
    font-weight: 400!important;
    border: 1px solid #E5E5E5!important;
    border-radius: 5px!important
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}

input:focus,select:focus,textarea:focus {
    border: 1px solid #6859b0!important;
    box-shadow: none!important
}

.footer-sec {
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #e0e0e0;
    color: #000;
    padding: 20px 0 0
}

.mobile-sec {
    display: none
}

.right-sec {
    padding: 15px 0
}

.right-sec img {
    border-radius: 30px;
    width: 100%
}

input[type="radio"] {
    width: 15px;
    height: 15px;
    padding: 0 !important;
    margin: 0;
    border-radius: 50% !important;
    cursor: pointer;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    padding: 0 !important;
    margin: 0;
    border-radius: 0!important;
    cursor: pointer;
}
.verifi_btn {
    margin-top: 11px;
    padding: 7px 10px !important;
    font-size: 10px !important;
    min-width: fit-content;
    background: #363636 !important;
}
.verifi_btn:hover {
    background: #F2B705 !important;
}
/* 2.1- buttons  */
.quick-btn {
    background: #6859b0;
    font-size: 12px;
    padding: 5px  30px;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 100px;
}

.quick-btn:hover {
    background: #F2B705;
    color: #000!important;
}
.yellow-btn {
    background: #F2B705;
    color: #000!important;
}
.yellow-btn:hover {
    background: #6859b0;
    color: #fff!important;
}
.border_btn {
    background: transparent;
    border: 1px solid gray;
    color: #000;
}
.upper_banner-text .btn-sec {
    display: flex;
    align-items: center;
    gap: 20px;
}

.upper_banner-text .btn-sec input#myDate {
    border: 1px solid #E2E5EE !important;
    border-radius: 100px !important;
}
.draft_btn {
    background: #464646;
}
.back-btn {
    background: #E9E9EB;
    color: #000000;
    padding: 4px 1rem!important;
    border: 1px solid #E2E5EE;
}
.back-btn .material-symbols-outlined {
    color: #000000;
    font-size: 20px;
}
.custom_btn_cls {
    display: flex;
    gap: 5px;
    align-items: center;
}

.justify_center_btn {
    justify-content: center;
}

.justify_end_btn {
    justify-content: flex-start;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    background: #f5f5f5;
    color: #3C2787;
    border-color: #3C2787;
    margin-left: auto;
}

.inputRemove {
    background: #f66161 !important;
    color: #fff !important;
    border-color: #f66161 !important;
}
#req_input {
    position: relative;
}
.upload-file-view {
    position: relative;
    right: 0;
    top: 6px;
}
td.action .quick-btn{
    margin: 0;
    padding:4px 10px;
}
td.action .quick-btn .material-symbols-outlined {
    font-size: 16px;
}

.download-btn:hover {
    background: #f5f5f5;
    color: #3C2787;
    border-color: #3C2787;
}

.download-btn .material-symbols-outlined {
    font-size: 18px;
}

.previous-btn {
    color: #fff;
    background: #4A449C
}

.save-btn {
    color: #000;
    background: #DDDDDD
}
.draft_btn{
    background: #F2B705;
    color: #000!important;
}
.draft_btn:hover {
    background: #6859b0;
    color: #fff!important;
}
.download-btn.btn-danger {
    background: #ef5f5f;
    color: #fff;
    border-color: #ef5f5f;
}
/* 3- Dashboard */
/* 3.1- Dashboard header */
.inner_header_registration {
    background: #fff;
    display: flex;
    align-items: center;
    gap: 20px;
}
header.navbar_custom a.head-title {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    height: -webkit-fill-available;
    border-left: 1px solid rgb(255 255 255 / 13%);
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.navbar_custom .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

header.navbar_custom {
    background: #fff;
    border: 0;
    z-index: 9999;
    position: relative;
}
header.navbar_custom .container-fluid {
    padding-left: 0;
}
.sidebar_custom.close .nav-links li .sub-menu li:hover {
    padding-left: 15px;
}

.sidebar_custom hr {
    border-color: #fff;
    margin: 3rem 0;
}

.form-group small {
    font-size: 10px;
}

.sidebar_custom .nav-links > li.active-parent .sub-menu {
    display: block;
}

.main-menu-sec .active-parent a, .main-menu-sec li a:hover {
    color: #000000 !important;
    background: #F2B705;
}
.main-menu-sec .active-parent, .main-menu-sec li:hover, .main-menu-sec .showMenu {
    border-bottom: 1px solid #e6e6e600 !important;
}
.main-menu-sec .active-parent a .material-symbols-outlined, .main-menu-sec li a:hover .material-symbols-outlined{
    color: #000000 !important;
}
.row.form_dashboard {
    align-items: end;
}
/* 3.2- Header profle dropdown  */
.name_user h5,.name_user p {
    color: var(--SevenColor);
    margin: 0
}

.name_user h5,.profile_dropdown ul.dropdown-menu li a span {
    font-size: 14px
}

.profile_dropdown {
    position: relative;
    display: inline-block
}

.profile_dropdown ul.dropdown-menu {
    width: 100%;
    background: 0 0;
    padding: 0px 0 0;
    border: 0;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 100%;
    z-index: 9999;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: opacity .5s ease-in-out,transform .5s ease-in-out;
    pointer-events: none;
    box-shadow: rgba(0,0,0,.15) 5px 5px 10px;
    display: block!important;
    right: 0;
    left: auto
}

.profile_dropdown ul.dropdown-menu li {
    background: var(--NineColor);
    padding: 0
}

.profile_dropdown:hover ul.dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: auto
}

.profile_dropdown ul.dropdown-menu li a {
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px dashed #e4e4e4;
    align-items: center;
    display: flex;
    white-space: normal;
    gap: 8px
}

.profile_dropdown ul.dropdown-menu li:last-child a {
    border: 0
}

.profile_dropdown ul.dropdown-menu li a:hover {
    background: #6859b0;
    color: var(--NineColor)
}

.profile_dropdown .user_logIn- i.arrow {
    color: var(--NineColor);
    transition: .2s ease-in-out
}

.profile_dropdown .user_logIn-.show i.arrow {
    rotate: -180deg;
    transition: .2s ease-in-out
}

.profile_dropdown ul li:last-child {
    padding: 0!important
}

.profile_dropdown ul li a:active {
    background: var(--TwoColor)!important
}

.user_logIn- {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 8px;
    position: relative;
}
.user_logIn- .material-symbols-outlined {
    width: 18px;
    color: #000000;
}
.profile img {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    object-fit: cover
}

.name_user h5 {
    font-weight: 600;
    color: #000000;
}

.name_user p {
    font-size: 12px;
    padding: 2px 0 0;
    color: #000000;
}

/* 3.3- Sidemenu Css  */
/* 3.3.1- Sidemenu  */
.dashboard-compact .dashboard-nav a.active::after,.dashboard-nav-item a.active i,.icon-link i.bi.bi-chevron-down {
    font-size: 14px
}

.dashboard-nav {
    min-width: 210px;
    min-height: 100vh;
    box-shadow: rgba(0,0,0,.24) 0 3px 8px
}

.dashboard-nav>*,.sidebar_custom .nav-links {
    position: relative;
    z-index: 2
}

.sidebar_custom {
    width: 250px;
    min-width: 250px;
    min-height: 100%
}

.sidebar_custom.close {
    width: 50px;
    min-width: 50px;
}

.sidebar_custom.close .nav-links,.sidebar_custom.close:hover {
    overflow: visible
}

.sidebar.sidebar_custom.close ul li .icon-link a {
    height: fit-content!important
}

.sidebar_custom .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center
}

.sidebar_custom .logo-details i {
    font-size: 30px
}

.sidebar_custom .logo-details .logo_name {
    font-size: 22px;
    color: var(--NineColor);
    font-weight: 600;
    transition: .3s .1s
}

.sidebar_custom.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none
}

.sidebar_custom .nav-links::-webkit-scrollbar {
    display: none
}

.sidebar_custom .nav-links > li {
    position: relative;
    list-style: none;
    transition: .4s;
    width: 100%;
    border-bottom: 1px solid #ffffff14;
}

.sidebar_custom .nav-links li .sub-menu li {
    border-bottom: 1px dashed  #ffffff14!important;
    color: var(--NineColor);
    padding: 5px 10px 5px 13px;
    transition: all .3s ease-in-out
}
.sidebar_custom .nav-links li .sub-menu li:last-child {
    border-bottom: 0px dashed #e5ebfe!important;
}

.sidebar_custom.close .nav-links li .sub-menu.blank li {
    padding: 0 40px
}

.sidebar_custom.close .nav-links li .sub-menu li {
    padding: 9.5px 10px 9.5px 10px;
    background: #6859b0;
    border-bottom: 0;
}
.sidebar_custom.close .nav-links li .sub-menu li a{
    box-shadow: none!important;
}
.sidebar_custom.close .nav-links li .sub-menu li a {
    color: #fff!important;
}
.sidebar_custom .nav-links li .sub-menu li:last-child,.sidebar_custom .nav-links li:last-child {
    border-bottom: 0
}

/* .sidebar_custom .nav-links li .icon-link.active a span,.sidebar_custom .nav-links li .sub-menu li:hover a,.sidebar_custom .nav-links li a:hover .link_name,.sidebar_custom .nav-links li:hover i {
    color: #000
} */
.main-menu {
    padding: 0;
}
.sidebar_custom.close .main-menu {
    padding: 0;
}
.sidebar_custom .nav-links li .icon-link a {
    display: flex;
    gap: 8px;
    padding: 10px 10px;
    width: 100%;
    align-items: self-start;
    height: 100%;
    border-radius: 0;
}
.sidebar_custom .nav-links li .icon-link a .material-symbols-outlined:last-child {
    font-size: 18px;
    line-height: normal;
}
.sidebar_custom .nav-links li .icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
    color: #000000bf;
    font-size: 14px;
    width: 100%
}

.sidebar_custom .nav-links li.showMenu .sub-menu,.sidebar_custom.close .nav-links li .icon-link {
    display: block
}
.sidebar_custom .nav-links li.showMenu .sub-menu, .sidebar_custom .nav-links li.active-parent .sub-menu {
    background: #f2f5fc;
    /* border-radius: 0 0 8px 8px !important; */
}
.sidebar_custom .nav-links li.showMenu a.menu-toggle {
    background: #f2b705;
    color: #000000;
}
.sidebar_custom .nav-links li.showMenu a.menu-toggle {
    /* box-shadow: 0 4px 4px rgb(255 175 25 / 27%) !important; */
}
.sidebar_custom .nav-links li.showMenu a.menu-toggle .material-symbols-outlined{
    color: #000000;
}
.sidebar_custom .nav-links li i {
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    align-items: center;
    justify-content: center;
    display: inline;
    height: fit-content;
    color: #ffffffce
}

.sidebar_custom .nav-links li.showMenu a i.arrow {
    transform: rotate(-180deg)
}

.sidebar_custom.close .nav-links li i {
    rotate: -90deg!important
}

.sidebar_custom .nav-links li .sub-menu .link_name,.sidebar_custom.close .nav-links i.arrow,.sidebar_custom.close .profile-details .job,.sidebar_custom.close .profile-details .profile_name,.sidebar_custom.close .profile-details i {
    display: none
}

.sidebar_custom .nav-links li a .link_name {
    font-size: 14px;
    font-weight: 400;
    transition: .4s;
    flex-grow: 1;
}

.sidebar_custom.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
    display: inline;
    height: 0
}
.sidebar_custom.close .nav-links li a .material-symbols-outlined:last-child{
    opacity: 0;
    pointer-events: none;
    display: inline;
    height: 0
}
.sidebar_custom .nav-links li .sub-menu {
    padding: 0;
    display: none;
    border-radius: 0!important
}

.sidebar_custom.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: none
}

.sidebar_custom.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: .4s;
    min-width: 180px
}

.sidebar_custom.close .nav-links li .sub-menu .link_name,.sidebar_custom.close .nav-links li .sub-menu .link_name a {
    font-size: 12px;
    opacity: 1;
    display: block
}

.sidebar_custom .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none
}

.sidebar_custom .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-49%);
    padding: 7px 20px
}

.sidebar_custom .profile-details {
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: .5s
}

.sidebar_custom.close .profile-details {
    background: 0 0;
    width: 78px
}

.sidebar_custom .profile-details .profile-content {
    display: flex;
    align-items: center
}

.sidebar_custom .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: .5s
}

.sidebar_custom.close .profile-details img {
    padding: 10px
}

.sidebar_custom .profile-details .job,.sidebar_custom .profile-details .profile_name {
    color: var(--NineColor);
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap
}

.sidebar_custom .profile-details .job {
    font-size: 12px
}

.sidebar_custom.close~.home-section {
    left: 0;
    width: calc(100% - 50px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center
}

.home-section .home-content .bx-menu,.home-section .home-content .text {
    color: #11101d;
    font-size: 35px
}

.home-section .home-content .bx-menu {
    margin: 0 15px;
    cursor: pointer
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600
}

@media (max-width: 420px) {
    .sidebar_custom.close .nav-links li .sub-menu {
        display:none
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    .sidebar_custom {
        top:auto;
        left: auto;
        height: auto;
        width: 170px
    }

    .sidebar_custom.close .profile-details {
        display: none
    }
}

.menu-toggle.menu_sidebar_box {
    position: relative;
    justify-content: center;
    display: flex;
    color: #F78181;
    font-size: 24px;
    box-shadow: 0px 0px 2px #00000029;
    border-radius: 0;
    width: 32px;
    height: 32px;
    align-items: center;
    background: #F5F6FA;
}

.sidebar_custom .nav-links li .sub-menu a {
    background: transparent !important;
    color: #000000ce !important;
    font-size: 12px;
    padding: 0;
    opacity: 1;
    transition: .3s;
    box-shadow: none !important;
}
.sidebar_custom .nav-links .sub-menu a.active, .sidebar_custom .nav-links .sub-menu a:hover {
    color: #6859b0 !important;
    box-shadow: none !important;
}
.dashboard {
    display: flex;
    min-height: 100vh
}

.dashboard-nav,.sidebar_custom {
    background: #6859B0;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    padding-bottom: 25px;
    transition: .2s ease-in-out;
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    padding: 0px 0px 30px 0px;
    z-index: 1;
}
.dashboard-app {
    width: calc(100% - 210px);
    transition: .2s ease-in-out
}

.dashboard-content {
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    padding: 0
}

.sidebar_custom .nav-links li .icon-link a img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    filter: invert(1);
}

.sidebar_custom .nav-links li .icon-link a .material-symbols-outlined {
    font-size: 24px;
    font-weight: 299;
    color: #ffffff;
    transition: .4s;
}

/* 3.3.2- child menu  */
.sidebar_custom.close .nav-links li .sub-menu li.child_menu,li.child_menu {
    padding: 0!important
}

.close li.child_menu:hover ul.sub-menu,li.child_menu .icon-link span {
    display: block!important
}

li.child_menu ul.sub-menu {
    display: none!important
}

li.child_menu.showMenu ul.sub-menu {
    display: block!important;
}

li.child_menu.showMenu i.arrow {
    transform: rotate(0)!important
}

li.child_menu i.arrow {
    color: #fff;
    margin-right: 5px!important
}

li.child_menu .icon-link {
    border-bottom: 1px dashed #ffffff57!important;
    padding: 10px 10px 10px 30px;
    border-left: 0!important
}

li.child_menu.showMenu .icon-link {
    background: #ee6020
}

li.child_menu {
    border-bottom: 0!important
}

.sidebar_custom.close .nav-links li .sub-menu li.child_menu .icon-link {
    padding: 5px 8px 5px 8px!important;
    display: flex;
    justify-content: space-between
}

.sidebar_custom.close .nav-links li .sub-menu li.child_menu .icon-link a span {
    height: auto
}

.sidebar_custom.close .nav-links li .sub-menu li.child_menu .icon-link .arrow {
    display: block!important;
    rotate: -90deg;
    margin: 0
}

.sidebar_custom.close .nav-links li .sub-menu li.child_menu .icon-link a {
    padding: 1px 0!important
}

.close li.child_menu .sub-menu,.sidebar_custom .colse .nav-links li.child-menu .icon-link:hover {
    background: #1e42df!important
}

li.child_menu.showMenu ul.sub-menu li {
    padding: 5px 10px 5px 30px;
    transition: all .3s ease-in-out;
}

.close li.child_menu .sub-menu li {
    padding: 5px 10px!important
}

.sidebar_custom .nav-links li.showMenu > i {
    rotate: 180deg
}

li.child_menu a i {
    rotate: 0deg!important
}

li.child_menu.showMenu a i {
    rotate: 180deg!important
}

.sidebar_custom .nav-links li .sub-menu li:hover {
    padding-left: 20px;
}
/* 3.4- Main section  */
.cd__main {
    background: #f3f3f5;
}

.upper_banner-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    position: relative;
}

.upper_banner-text {
    position: relative;
    padding: 7px 8px 7px;
    color: var(--SevenColor)
}

.top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

.upper_banner-text {
    background: #F5F6FA;
    background-size: cover;
    background-position: top center;
    box-shadow: 0 4px 20px rgb(0 0 0 / 15%);
}

.overflow-sec {
    /* position: relative; */
    /* margin-top: -60px; */
    padding: 24px 20px 24px;
}

.badge.bg-primary {
    background-color: #cfd9ee !important;
    color: #3d6dce;
}

.badge.bg-warning {
    background-color: #fde2c6 !important;
    color: #876037;
}

.badge {
    font-weight: 500;
}

.right_section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.right_section .btn-sec {
    display: flex;
    align-items: center;
    gap: 20px;
}

.right_section .btn-sec a {
    color: #6859b0;
    background: #f4f4f6;
    border-radius: 100px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right_section .btn-sec a .material-symbols-outlined {
    font-weight: 299;
}

/* 3.4.1 Card section */
.card_sap_head,.heading_ico {
    align-items: center;
    display: flex
}

.bg_saprate {
    background: var(--NineColor);
    border-radius: 10px;
    padding: 15px 15px;
    height: 100%
}

.card_sap_head {
    justify-content: space-between;
    border-bottom: 2px solid #b3abd7;
    padding: 0 0px 10px;
    gap: 10px;
}
.search-sec {
    position: relative;
}
.search-sec .material-symbols-outlined {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #6859b0;
    font-weight: 299;
}
.search-sec input {
    padding-right: 30px !important;
}
.pending-btn {
    background: #1F1F1F;
}   
.export-pdf-sec {
    position: relative;
}
.export-pdf-sec .material-symbols-outlined {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    color: #FF1414;
    font-weight: 299;
}
.export-pdf-sec input {
    padding-left: 30px !important;
}
.heading_ico {
    gap: 10px;
    flex-grow: 1;
}

.heading_ico h4 {
    font-size: 18px;
    color: var(--SevenColor);
    font-weight: 600
}
.heading_ico2 h4 {
    font-size: 14px;
    color: var(--SevenColor);
    font-weight: 600;
    line-height: normal;
    margin: 10px 0 10px;
    padding-bottom: 6px;
    position: relative;
}
.heading_ico2 h4:before {
    content: '';
    width: 30px;
    height: 2px;
    background: #ef6020;
    position: absolute;
    bottom: 0;
    left: 0;
}
.heading_ico img {
    width: 18px
}
.list_icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.list_icon span {
    font-weight: bold;
}
.date_sec span,.joining_today_bg .heading_ico h4,.thought_day .heading_ico h4,.thought_day_content {
    color: var(--EightColor)
}

.list_whats_new {
    padding: 0 10px;
    height: 168px;
    margin: 0 5px 0 0;
    overflow-y: auto
}

.list_whats_new::-webkit-scrollbar {
    width: 6px
}

.list_whats_new::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px
}

.list_whats_new::-webkit-scrollbar-thumb {
    background: #4672f5;
    border-radius: 10px
}

.thought_day_content:after,.thought_day_content:before {
    content: "";
    background-image: url(../images/thought_content.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    position: absolute;
    height: 20px;
    opacity: .5
}

.list_whats_new::-webkit-scrollbar-thumb:hover {
    background: #1d3d9e
}

.list_iner {
    display: flex;
    gap: 20px;
    align-items: start;
    padding: 10px 0;
    border-bottom: 1px dashed var(--SixColor)
}

.date_sec span {
    background: var(--TwoColor);
    padding: 2px 13px
}

.date_sec {
    display: flex;
    border: 1px solid #d5e6ff;
    border-radius: 5px;
    padding: 5px 0 0;
    font-size: 12px;
    text-align: center;
    flex-direction: column
}

.list_iner p {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical
}

.thought_day {
    background: var(--FourColor)
}

.thought_day_content {
    padding: 15px 30px;
    line-height: 35px;
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    position: relative
}

.thought_day_content:after {
    bottom: 0;
    right: 20px
}

.thought_day_content:before {
    top: 10px;
    left: 10px;
    rotate: 180deg
}

.profile img {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: top center;
}

.name_desg p {
    font-size: 12px
    
}

.name_desg h4 {
    font-size: 14px;
    font-weight: 600;
}

.joining_today_bg {
    background: #3c0968
}

.joining_today_bg .list_iner {
    flex-direction: column;
    border-bottom: 0;
    color: var(--EightColor);
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.joining_today_bg .profile img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    object-fit: cover
}

.list_card_drop ul.dropdown-menu li a span {
    font-size: 12px
}

.list_card_drop ul.dropdown-menu li {
    background: var(--NineColor);
    padding: 0
}

.list_card_drop ul.dropdown-menu li a {
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px dashed #e4e4e4;
    align-items: center;
    display: flex;
    white-space: normal;
    gap: 8px
}

.list_card_drop ul.dropdown-menu li:last-child a {
    border: 0
}

.list_card_drop ul.dropdown-menu li a:hover {
    background: var(--TwoColor);
    color: var(--NineColor)
}

.list_card_drop .dropdown-menu {
    border-radius: 0;
}

.dashboad-box .container-fluid {
    padding: 0
}

.list_card_drop .form-select {
    width: 130px;
    padding: .3rem !important;
    font-size: 11px !important;
}
.list_card_drop .circle-more_horiz {
    background: #00000030;
    color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 3.4.2- table css  */
table.custom_table thead tr th {
    font-weight: 600;
    padding: 10px;
    color: var(--SevenColor);
    text-align: start;
    white-space: nowrap;
    border-bottom: 0px solid #ddd!important;
}
table.custom_table thead tr th small {
    display: block;
    color: gray;
    font-weight: 400;
    font-size: 10px;
    white-space: nowrap;
}
table.custom_table {
    text-align: center;
    font-size: 14px;
    border-spacing: 0 5px;
    border-collapse: collapse !important
}

table.custom_table tbody {
    background: #fff;
    position: relative
}

table.custom_table tbody tr td {
    padding: 10px;
    color: #7C8DB5;
    border: 0;
    text-align: start;
    border-bottom: 0px solid #f0f0f0;
}
table.custom_table tbody tr.odd td {
    background:#F5F6FA;
}
table.custom_table tbody tr th {
    color: #787878
}
table.custom_table tbody tr td a.quick-btn {
    color: #fff;
    font-size: 14px;
    padding: .2rem 25px;
}
table.dataTable thead .sorting:after,table.dataTable thead .sorting_asc:after,table.dataTable thead .sorting_desc:after {
    content: ""!important;
    background-image: url(../images/datatable.png);
    width: 18px;
    height: 18px;
    background-size: contain;
    z-index: 999;
    background-repeat: no-repeat;
    top: 38%;
    transform: translateY(-50%)
}
table.custom_table tbody tr a.approved {
    color: #1CAF00;
}
table.custom_table tbody tr a.draft {
    color: #F1B80C;
}
table.custom_table tbody tr a.rejected {
    color: #FE0968;
}
table.custom_table tbody tr a.approved .material-symbols-outlined {
    color: #1CAF00;
}
table.custom_table tbody tr a.draft .material-symbols-outlined {
    color: #F1B80C;
}
table.custom_table tbody tr a.rejected .material-symbols-outlined {
    color: #FE0968;
}
.icons_table {
    align-items: center;
    gap: 10px
}

.icons_table .eye {
    color: #4b1fc0;
    font-size: 16px
}

.icons_table .trash {
    color: #ff2b2b;
    font-size: 16px
}

.icons_table a:hover {
    text-decoration: none
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff!important
}

.table-striped>tbody>tr:nth-of-type(2n) {
    background-color: #f9f9f9!important
}

div#example_info {
    font-size: 12px
}

ul.pagination {
    display: flex;
    align-items: center;
    justify-content: end
}

.pagination li,.pagination li.active {
    background: #6859b0;
    border: 1px solid #6859b0;
    font-size: 12px
}

.pagination li a,.pagination li.active a {
    color: var(--EightColor)
}

.pagination li {
    padding: 5px 10px;
    background: #e3edf978
}

.pagination li.next,.pagination li.previous {
    border: 1px solid #d0d5dd;
    background: transparent
}

.pagination li.previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px
}

.pagination li.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.pagination li.active:hover,.pagination li.next:hover,.pagination li.previous:hover,.pagination li:hover {
    background: #6859b0;
    border: 1px solid #6859b0;
}

.pagination li.active:hover a,.pagination li.next:hover a,.pagination li.previous:hover a,.pagination li:hover a {
    color: var(--NineColor)
}

.pagination li.next a,.pagination li.previous a {
    color: #000!important;
    font-size: 12px;
    display: flex;
    align-items: center
}
.pagination li.next:hover a,.pagination li.previous:hover a {
    color: #fff!important;
}
.paging {
    display: flex;
    align-items: center
}

.retirement_this_month .profile img {
    width: 25px;
    height: 25px;
    background: #ffc20e45;
    padding: 6px
}

.list_card_drop {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px
}

.list_card_drop .form-group {
    display: flex;
    align-items: center;
    gap: 5px
}

.list_card_drop .form-group label {
    white-space: nowrap
}

.list_card_drop .form-group input, .list_card_drop .form-group select {
    width: 174px
}

table.custom_table tbody tr td a {
    color: #6859b0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 5px;
}
table.custom_table tbody tr td a small {
    color: #6E6E6E;
}
table.custom_table tbody tr td a .material-symbols-outlined {
    font-size: 16px;
    color: #6859b0;
    font-weight: 299;
}

.cust_flex {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between
}

.cust_flex .form-group {
    width: 100%
}

.custon_input_btn {
    margin-top: 28px
}

.sub_heading h6 {
    font-size: 16px;
    margin-bottom: 8px
}
.modal {
    background: #0000007d;
    --bs-modal-width: 330px;
}
.modal-body {
    padding: 45px 45px;
}
.modal-body img {
    margin: auto;
    display: block;
    width: 50px;
    margin-bottom: 20px;
}
.modal-body p {
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}
.btn-close {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../images/close-circle-outline.svg);
    opacity: 1;
}
/* 4- Footer */
.footer-top-sec {
    background: #53374D;
    padding: 17px 0;
    text-align: center;
    font-size: 14px;
    color: var(--NineColor);
}

/*Card Section Start */
.dashboad-box-BG {
    background: #fff;
    padding: 20px 20px;
    border-radius: 10px 10px;
    box-shadow: 0 0 14px #00000012;
}
.card {
    background: #fff;
    border-radius: 15px 15px;
    box-shadow: 0 0 14px #00000012;
    border: 0;
    overflow: hidden;
}
.card .card-header {
    padding: 15px 20px;
    border-color: #ddd;
    background: transparent;
}
.card .card-header .card_sap_head {
    border: 0;
    padding: 0;
    margin: 0;
}
.card .card-body {
    padding: 15px 20px;
}
.dashboad-box .status-list {
    padding: 0;
    list-style: none !important;
    margin: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
    gap: 20px !important;
}

.dashboad-box .status-list li:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.dashboad-box .status-item2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-shadow: 0 0 14px #00000012;
    border-bottom: 4px solid #6770bc;
    border: 1px solid #6770bc3d;
}
.dashboad-box .status-item2 span {
    display: block;
}
.dashboad-box .status-list li .title-sec {
    display: flex;
    background: transparent;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.dashboad-box .status-list li .title-sec img {
    width: 100%;
}
.dashboad-box .status-list li .content-sec {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.dashboad-box .status-list li .title {
    font-size: .875rem;
    color: #939393;
}
.dashboad-box .status-list li .grow {
    color: #18BC32;
    font-size: .75rem;
    display: flex;
    align-items: center;
    gap: 3px;
}
.dashboad-box .status-list li .down {
    color: #E06621;
}
.dashboad-box .status-list li .grow .material-symbols-outlined {
    font-size: 16px;
}
/* Hover effect */
.dashboad-box .status-item2 .icon {
    background: #f8f8f8;
    color: inherit;
    font-size: 1.5rem;
    width: 42px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboad-box .status-item2 .icon img {
    width:24px;
}

.dashboad-box .status-item2 .text .count {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    line-height: normal;
    text-align: right;
    margin-bottom: 5px;
}

.dashboad-box .status-item2 .text .label {
    font-size: 0.625rem;
    color: #939393;
}

.sidebar_custom .nav-links li a {
    color: #ffffff;
}
.single-window-card .card-body:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(110deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%);transform:translateX(-100%) skewX(-15deg);transition:transform 0.6s ease;z-index:99;pointer-events:none}
.single-window-card:hover .card-body:before{transform:translateX(100%) skewX(-15deg)}

.single-window-card {
    background: url(../images/single-window-card-bg.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: top center;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0!important;
    overflow: hidden;
}
.dashboad-box-BG.single-window-card:before {
    content: '';
    background: #107CF2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .9;
}
.dashboad-box-BG.single-window-card2:before {
    background: #F35D00;
}
.single-window-card .card_sap_head {
    padding: 20px 20px 0;
}
.single-window-card .heading_ico h4 {
    color: #fff;
}
.single-window-card .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 40px 20px 20px;
    color: #fff;
    font-size: 14px;
}
.single-window-card .card-foot {
    background: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.single-window-card .card-body .d-flex {
    flex-grow: 1;
}
.single-window-card .card-body span {
    display: block;
    margin-bottom: 10px;
}
.single-window-card .card-body .count {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
}
.single-window-card .card-body .date {
    font-size: 12px;
    text-align: right;
}
.single-window-card .card-body .week {
    font-size: 10px;
    text-align: right;
}
.single-window-card .card-body img {
    width: 100%;
}
.single-window-card .card-foot span {
    display: block;
    font-size: 14px;
    color: #000;
}
.single-window-card .card-foot .count {
    font-size: 1.5rem;
    font-weight: 600;
}
/*Card Section End */
/* 5- Responsive  */

@media screen and (max-width: 991px) {
    .login-inner .left-sec {
        padding:20px;
        left: 0;
        background: #f3f3f3;
        border-radius: 30px
    }

    .login-inner .left-sec:after {
        display: none
    }

    .footer-sec {
        padding: 10px 0 0;
        text-align: center;
        margin-top: 20px
    }
}

@media screen and (max-width: 767px) {
    .card_sap_head {
        flex-wrap: wrap;
    }
    .search-sec {
        width: 100%;
    }
    .export-pdf-sec {
        width: 100%;
    }
    header.navbar_custom a.head-title {
        font-size: 16px;
        border-left: 0px solid rgb(255 255 255 / 13%);
        padding-left: 0px;
    }
    .inputs_custom {
        flex-wrap:wrap
    }

    .sidebar_custom.close {
        width: 0;
        min-width: 0;
        left: -10%
    }

    .sidebar_custom.close~.home-section {
        left: 0;
        width: calc(100%)
    }

    .sidebar_custom .profile-details,.sidebar_custom.close .nav-links li i,.sidebar_custom.close .profile-details {
        display: none
    }

    .home-section {
        position: static;
        width: 100%
    }

    .sidebar_custom {
        position: absolute;
        top: 0;
        left: auto;
        height: auto;
        width: 220px;
        z-index: 9999999;
        overflow: scroll
    }

    .brand-img .img1 {
        width: 30px!important
    }
    header.navbar_custom .container-fluid {
        padding-left: 12px;
    }
    .navbar_custom .navbar {
        gap: 10px;
    }
    .brand-name {
        padding: 0;
        justify-content: space-between;
    }
    .menu-toggle.menu_sidebar_box {
        order: 2;
    }
    .logo-align .brand-img img {
        width: 55px
    }

    .brand-text h5 {
        font-size: 14px;
        line-height: 16px
    }

    .brand-text h4 {
        font-size: 12px
    }

    .inner_header_registration {
        gap: 20px;
        justify-content: space-between;
        width: 100%
    }

    .right_section {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 10px 0 15px
    }
    .upper_banner-text h4 {
        font-size: 16px;
    }
    .upper_banner-text .btn-sec {
        gap: 15px;
        width: 100%;
    }
    .upper_banner-text {
        padding: 15px 0px 15px;
    }
    .dashboad-box-BG {
        padding: 15px 15px;
    }
    .card .card-header {
        padding: 15px 15px;
    }
    .card .card-body {
        padding: 15px 15px;
    }
    .overflow-sec {
        padding: 15px 12px 15px;
    }    
    div#example_info {
        text-align: center
    }

    div#example_paginate {
        justify-content: center;
        display: flex
    }

    .logo-align {
        width: 100%;
        justify-content: center;
        border: 0;
    }

    .top_content {
        gap: 15px
    }

    .dashboad-box .status-list {
        grid-template-columns: 1fr;
        margin-bottom: 0;
        gap: 15px;
    }

    .custom_btn_cls {
        flex-wrap: wrap
    }

    .quick-btn {
        width: 100%
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .nav-pills {
        flex-wrap: wrap;
        gap: 10px;
        padding: 0;
    }
    .nav-pills .nav-item {
        width: max-content;
    }
    .view-sec {
        padding: 0 15px;
        flex-wrap: wrap;
        gap: 0;
    }
    .view-sec li {
        padding: 10px 0;
        width: 100%;
    }
    .view-sec li:before {display: none;}
    .dashboard-app {
        width:calc(100% - 250px)
    }
    .sidebar_custom.close {
        width: 50px;
        min-width: 50px;
    }
    .main-menu {
        padding: 6px;
    }
    .sidebar_custom.close .nav-links li .sub-menu li {
        /* background: #0539bf; */
    }
    .sidebar_custom.close .nav-links li .sub-menu li A{
        box-shadow: none!important;
    }
    .sidebar_custom.close~.home-section {
        left: 0;
        width: calc(100% - 65px)
    }

    .dashboad-box .status-list {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0
    }
    .inner_header_registration {
        gap: 15px;
    }
    .brand-name {
        gap: 15px;
        padding: 0 15px;
    }
    header.navbar_custom a.head-title {
        font-size: 13px;
    }
    .upper_banner-text h4 {
        font-size: 20px;
    }
    .heading_ico h4 {
        font-size: 16px;
    }
    .overflow-sec {
        padding: 15px 12px 15px;
    }
}
.status-list {
    list-style: none !important;
    margin: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
    gap: 20px !important;
    padding: 0;
}
.status-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    gap: 10px;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
    -webkit-transition: all .4s;
    transition: all .4s;
    box-shadow: 0 0 14px #00000012;
    border-bottom: 4px solid #6770bc;
    border: 1px solid #6770bc3d;
}
.status-card:hover {
    transform: translateY(-5px);
}
.status-card .card-header {
    padding: 0 0;
    margin: 0;
    border: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.student-part .row{display: grid!important;}







.icon-circle {
    width: 48px;
    height: 48px;
    background-color: #f5f6fa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-circle img { 
    filter: brightness(0) invert(1);
}
.card-title {
    font-size: 1.25rem;
    color: #000000;
    margin: 0;
    font-weight: 500;
}
.status-card .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
}
.status-card .content .status-info {
    color: #000 !important;
}
.status-card .next-arrow {
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    width: 55px;
    height: 55px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 100px;
    background: #ffffff6b;
    color: #000;
    padding: 0px 0 5px 12px;
}
.status-list .status-card:nth-child(1) {
    border-bottom: 4px solid #6160e9 !important;
    background: #6160e91a !important;
    border: 1px solid #6160e93d;
}
.status-list .status-card:nth-child(1):hover {
    -webkit-box-shadow: 0 5px 10px #6160e975;
    box-shadow: 0 5px 10px #6160e975;
}
.status-list .status-card:nth-child(1) .icon-circle {
    background: #6160e9;
}

.status-list .status-card:nth-child(2) {
        border-bottom: 4px solid #54c5eb !important;
    background: #e4f7fe !important;
    border: 1px solid #54c5eb3d;
}
.status-list .status-card:nth-child(2):hover {
        -webkit-box-shadow: 0 5px 10px #54c5eb75;
    box-shadow: 0 5px 10px #54c5eb75;
}
.status-list .status-card:nth-child(2) .icon-circle {
    background: #54c5eb;
}

.status-list .status-card:nth-child(3) {
    border-bottom: 4px solid #ffb74a !important;
    background: #fff3e1 !important;
    border: 1px solid #ffb74a3d;
}
.status-list .status-card:nth-child(3):hover {
        -webkit-box-shadow: 0 5px 10px #ffb74a75;
    box-shadow: 0 5px 10px #ffb74a75;
}
.status-list .status-card:nth-child(3) .icon-circle {
    background: #ffb74a;
}

.status-list .status-card:nth-child(4) {
    border-bottom: 4px solid #ff4667!important;
    background: #fbdfe4 !important;
    border: 1px solid #ff46673d
}
.status-list .status-card:nth-child(4):hover {
     -webkit-box-shadow: 0 5px 10px #ff466775;
    box-shadow: 0 5px 10px #ff466775
}
.status-list .status-card:nth-child(4) .icon-circle {
    background: #ff4667;
}
/* Banner */
.live-banner {
    background: url(../images/live-banner-bg.png) no-repeat;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 150px;
    background-size: cover;
}

/* Decorative stars effect */
.live-banner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgba(255,255,255,0.2) 1px, transparent 1px);
    background-size: 20px 20px;
    top: 0;
    left: 0;
    opacity: 0.3;
}

.live-content{
    position: relative;
    z-index: 2;
}

.live-title{
    font-size: 24px;
    font-weight: 700;
}

.live-subtitle{
    font-size: 20px;
    opacity: 0.9;
}

.live-time{
    margin-top: 15px;
    font-weight: 500;
    opacity: 0.9;
}

.live-illustration{
    font-size: 72px;
}
.live-illustration img{width:100%;height:auto;border-radius:10px}

.bannerprt{display: grid; padding: 0;
    list-style: none !important;
    margin: 0 !important;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
    gap: 20px !important;}

    .status-list2 li{display: inline; list-style-type: none;}


/* overall class chart */
 .card-custom{
            border-radius:20px;
            padding:10px 20px;
            background:#fff;
        }

        .score-number{
            font-size:25px;
            font-weight:700;
        }

        .sub-text{
            font-size:14px;
            color:#6c757d;
        }

        .trophy{
            font-size:80px;
            color:#66cc33;
            padding-right:20px;
        }

        /* Circle dots */
        .circle-wrapper{
            position:relative;
            width:120px;
            height:120px;
        }

        .dot{
            position:absolute;
            width:16px;
            height:16px;
            border-radius:50%;
        }

        .dot.green{ background:#66cc33; }
        .dot.light-green{ background:#a6e57a; }
        .dot.yellow{ background:#ffcc33; }

        .center-circle{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            width:50px;
            height:50px;
            background:#66cc33;
            border-radius:50%;
        }

/* overall class chart */







/* Our Courses Section CSS Start */
.our-courses-sec .nav-pills{justify-content:center;gap:0 7px;margin-bottom:10px;padding-left:0}
.our-courses-sec .nav-pills li.nav-item{list-style:none}
.our-courses-sec .nav-pills li a{display:inline-block;border:1px solid var(--TwoColor);border-radius:5px;color:var(--SevenColor);font-size:.875rem;padding:9px 25px;transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s;position:relative;overflow:hidden;line-height:normal;font-weight:600}
.our-courses-sec .nav-pills li a.active{background:var(--TwoColor);color:var(--NineColor)}
.our-courses-slider{display:grid;grid-template-columns:1fr 1fr 1fr;gap:24px;margin-bottom:30px}
.our-courses-sec .card-sec{overflow:hidden;border-radius:20px;background:#FFF;box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.10);transition:all 0.5s ease-in-out 0s;-webkit-transition:all 0.5s ease-in-out 0s}
.our-courses-sec .card-sec:hover{-webkit-transform:translateY(calc(-1.5rem / 5));transform:translateY(calc(-1.5rem / 5))}
.our-courses-sec .card-sec .img-sec{overflow:hidden;border-radius:20px 20px 0 0px}
.our-courses-sec .card-sec .img-sec img{width:100%;height:200px;transition:0.4s ease-out, visibility 0.1s linear}
.our-courses-sec .card-sec .desc-sec{padding:20px 100px 20px 20px}
.our-courses-sec .card-sec .desc-sec .title{font-size:1.125rem;font-weight:600;color:var(--SevenColor);display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;text-overflow:ellipsis;overflow:hidden;min-height:55px}
.our-courses-sec .card-sec .desc-sec .rating{display:flex;align-items:center;justify-content:start;color:gray;font-size:.875rem;gap:60px;margin:5px 0 30px}
.our-courses-sec .card-sec .desc-sec .rating .star{display:flex;align-items:center;gap:2px}
.our-courses-sec .card-sec .desc-sec .rating .material-symbols-outlined{color:var(--ThreeColor);font-size:1rem}
.our-courses-sec .card-sec .desc-sec .quick-btn{border-radius:15px 0 15px 15px;border:2px solid #2CC4DD;width:100%;background:transparent;color:var(--SevenColor)}
.our-courses-sec .card-sec .desc-sec .quick-btn:before,.our-courses-sec .card-sec .desc-sec .quick-btn:after{background:#2CC4DD}
.our-courses-sec .card-sec{position:relative;overflow:hidden}
.our-courses-sec .card-sec .img-sec:before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background:linear-gradient(110deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 70%);transform:translateX(-100%) skewX(-15deg);transition:transform 0.6s ease;z-index:99;pointer-events:none}
.our-courses-sec .card-sec:hover .img-sec:before{transform:translateX(100%) skewX(-15deg)}
.our-courses-sec .card-sec .img-sec img{width:100%;height:100%;transition:all 0.4s ease-out 0s, visibility 0.1s linear 0s}
.our-courses-sec .card-sec:hover .img-sec img{opacity:0.70;transform:scale(1.06, 1.06) rotate(2deg)}
/* Our Courses Section CSS End */